<html>
        <head>
            <title>Jaen's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Jaen's blog</a></h1>
            </div>

            <div>
                <p>published: 2016.04.08.17:33 17:</p>
                <h2><a href="">My first post</a></h2>
                <p>Welcome, nice to meet you! </p>
            </div>

            <div>
                <p>published: 2016.04.08.17:34</p>
                <h2><a href="">Notice</a></h2>
                <p>ㅋㅋㅋㅋㅋㅋㅋㅋ</p>
            </div>
        </body>
    </html>
